plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
}

keybinds {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
        bind "Ctrl h" { MoveFocusOrTab "Left"; }
        bind "Ctrl l" { MoveFocusOrTab "Right"; }
        bind "Ctrl p" { ToggleTab; }
    }

    tab {
        bind "Shift Left" { MoveTab "Left"; }
        bind "Shift h" { MoveTab "Left"; }
        bind "Shift Right" { MoveTab "Right"; }
        bind "Shift l" { MoveTab "Right"; }
    }
}

default_mode "locked"

on_force_close "quit"
copy_on_select true

simplified_ui true
pane_frames false

theme "tokyo-night"
theme_dir "/Users/jbaldwin/.config/zellij/themes"
