format = """
$username\
$hostname\
$directory\
${custom.jj}\
$line_break\
$character"""

add_newline = false

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

# [python]
# format = "[$virtualenv]($style) "
# style = "bright-black"

# custom module for jj status
[custom.jj]
command = "jj-prompt"
when = "jj-prompt detect"
shell = ["sh"]
format = "$output "

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_state]
disabled = true
format = '([$state( $progress_current/$progress_total)]($style) )'
style = "bright-black"

[git_status]
disabled = true
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"
