"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "jwbaldwin"
email = "jwbaldwin3@gmail.com"

[ui]
default-command = "log"
pager = "delta"
diff-formatter = ":git"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
conflict-marker-style = "diff"
show-cryptographic-signatures = true

[aliases]
tug = ["util", "exec", "--", "sh", "-c", """
  if [ -n "$1" ]; then
    jj bookmark move "$1" --to 'closest_pushable(@)'
  else
    jj bookmark move --from 'closest_bookmark(@)' --to 'closest_pushable(@)'
  fi
""", "sh"]
log-recent = ["log", "-r", "default() & recent()"]
gf = ["git", "fetch"]
gp = ["git", "push"]
rb = ["rebase", "-d", "trunk()"]
tp = ["util","exec","--","sh","-c","jj tug \"$@\" && jj git push","sh"]

[revset-aliases]
'recent()' = 'committer_date(after:"1 month ago")'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

[git]
push-new-bookmarks = true

[remotes.origin]
auto-track-bookmarks = "*"

[templates]
git_push_bookmark = '"jb/push-" ++ change_id.short()'
