"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "jwbaldwin"
email = "jwbaldwin3@gmail.com"

[ui]
default-command = "log"
pager = "delta"
diff-formatter = ":git"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
conflict-marker-style = "git"
show-cryptographic-signatures = true

[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
log-recent = ["log", "-r", "default() & recent()"]
# shows commits on the working-copy commit's (anonymous) bookmark
# compared to the `main` bookmark
cl = ["log", "-r", "(main..@):: | (main..@)-"]
cdiff = ["log", "-r", "main@origin..@"]

[revset-aliases]
'recent()' = 'committer_date(after:"1 month ago")'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[remotes.origin]
auto-track-bookmarks = "glob:*"

[git]
push-new-bookmarks = true

[templates]
git_push_bookmark = '"jb/push-" ++ change_id.short()'
